body {
	background-color:white;
}
	
#reset {
	border:solid 1px gray;
	background-color:white;
	color: gray;
	margin-top: 5px;
}
	
td {				
	text-align:center;				
	font-family:Times New Roman;
	color: black;
	vertical-align: middle;				
}
#box td {
	border:solid 1px black;
	text-align:center;
	font-size:40px;
	font-family:Times New Roman;
	color: black;
	width: 55px;
	height: 55px;
}

#box td:hover {
	color:red;
}